:root {
    /* Paleta de Colores basada en la imagen */
--bg-body: #0f172a;        /* Fondo principal muy oscuro */
--bg-sidebar: #0f172a;     /* Fondo sidebar */
--bg-card: #1e293b;        /* Fondo de las tarjetas */
--bg-input: #1e293b;       /* Fondo del buscador */
--text-primary: #ffffff;   /* Texto blanco */
--text-secondary: #94a3b8; /* Texto gris (artistas, labels) */
--accent-blue: #2563eb;    /* Azul brillante (botones, active) */
--accent-blue-dark: #1e3a8a; /* Azul oscuro (fondos de botones) */
--accent-blue-hover: #3b82f6;
--border-color: #334155;   /* Bordes sutiles */    
--font-main: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-body);
    color: var(--text-primary);
    line-height: 1.5;
    overflow-x: hidden; /* Evitar scroll horizontal */
}
/*Quitamos las viñetas que aparece en la pagina*/
ul {
    list-style: none;
}
/*Medidaas para las imagenes*/
img {
    max-width: 100%;
    display: block;
}
/*Estamos dandole el estilo a los botones*/
button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}
/*Estamos dando el stilo y la parte del logo y notificaciones*/
.header {
    background-color: var(--bg-body);
    border-bottom: 1px solid var(--border-color);
    padding: 0.75rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}
/*Estamos ubicando el logo, notificaciones */
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}
/*Vamos a darle stilo al logo*/
.header__logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo{
    height: 32px;
    width: auto;
}

.header__logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

/*Navegacion*/
.header__nav {
    display: flex;
    justify-content: center ;
    flex: 1;
}

.nav__list {
    display: flex;
    gap: 2rem;
}

.nav__link {
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 1rem;;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.nav__link:hover {
    color: var(--text-primary);
}

.nav__link--active {
    color: var(--text-primary);
    border-bottom-color: var(--accent-blue);
}

/* Buscador del header*/
.header__search {
    display: flex;
    align-items: center;
    background-color: var(--bg-input);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    margin-right: 1.5rem;
}

